# Here is an example env file, please create a .env file in ./backend directory.

# Server config
APP_NAME=PsycheBot
HOST=127.0.0.1
PORT=8080
DEBUG=true

# LLM Provider
OPENAI_MODEL=gpt-5
GEMINI_MODEL=gemini-2.5-flash

# API KEY
OPENAI_API_KEY=YOUR_OpenAI_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Model Temperature
MODEL_TEMPERATURE=0.3